[Unit]
Description=pix2light intersideral
After=network-online.target
Wants=network-online.target

[Service]
User=artificiel
ExecStart=/home/artificiel/src/of/apps/pix2light/pix2light/bin/pix2light
Restart=on-failure

[Install]
WantedBy=multi-user.target



