[Unit]
Description=pix2light shuffle lfo

[Service]
User=artificiel
ExecStart=/usr/local/bin/sendosc 127.0.0.1 6666 /pix2light/orbit/shuffleLfo i 0





